@import "styles/color";
@import "styles/base";

.button {
  background-color: $primary-color !important;
  color: $white-color !important;
  border-radius: toRem(30) !important;
  padding: toRem(16) toRem(32) !important;
  font-size: toRem(16) !important;
}
