@import "styles/color";
@import "styles/base";
@import "styles/breakpoint";

.button {
  background-color: $primary-color !important;
  color: $white-color !important;
  border-radius: toRem(30) !important;
  border: none !important;
  font-size: toRem(16) !important;

  &:hover {
    background-color: $secondary-color !important;
  }

  @include media-query(tablet) {
    padding: toRem(16) toRem(48) !important;
  }
}
