@import "styles/base";

.bottomLeftCorner {
  bottom: toRem(-20);
  left: toRem(-20);
}

.topRightCorner {
  top: toRem(-20);
  right: toRem(-20);
}

.bottomLeftCorner,
.topRightCorner {
  position: absolute;
  width: 20vw;
}

.bottomRightCorner {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
