@import "styles/base";

.bottomLeftCorner {
  bottom: toRem(-20);
  left: toRem(-20);
}

.topRightCorner {
  top: toRem(-20);
  right: toRem(-20);
}

.bottomLeftCorner,
.topRightCorner {
  position: absolute;
  width: 20vw;
}
