@import "styles/base";
@import "styles/color";

.bottomLeftCorner {
  bottom: 0;
  right: 100%;
}

.topRightCorner {
  top: 0;
  left: 100%;
}

.bottomLeftCorner,
.topRightCorner {
  width: 12vw;
  position: sticky;
  position: -webkit-sticky;
  padding: 0;
  margin: 0;
}
