@import "styles/base";
@import "styles/breakpoint";

.bottomRightCorner {
  position: sticky;
  bottom: toRem(10);
  left: 100%;
  width: 15vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include media-query(phone) {
    flex-direction: column;
  }
}
