@import "styles/base";
@import "styles/breakpoint";

.socialNetworkBar {
  position: sticky;
  bottom: toRem(16);
  left: 100%;
  margin-right: toRem(16);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-query(tablet) {
    flex-direction: row;
    bottom: toRem(24);
    margin-right: toRem(24);
  }

  .socialNetworkIconContainer {
    margin: toRem(4) toRem(4);
  }
}
