@import "font";

$font-size-base: 16;
$font-size-base-px: $font-size-base * 1px;

$font-family-black: "Avenir Black", Arial, sans-serif;
$font-family-book: "Avenir Book", Arial, sans-serif;
$font-family-roman: "Avenir Roman", Arial, sans-serif;
$font-family-heavy: "Avenir Heavy", Arial, sans-serif;
$font-family-medium: "Avenir Medium", Arial, sans-serif;
$font-secondary-regular: "Space Mono Regular", Arial, sans-serif;

@function toRem($value) {
  $remValue: ($value / $font-size-base) + rem;
  @return $remValue;
}
