@import "color";
@import "font";
@import "base";

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: $font-family-heavy !important;
}

p,
span {
  font-family: $font-family-roman !important;
  font-size: toRem(16);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $primary-color !important;
}

a {
  color: $primary-color !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.secondary {
  color: $secondary-color !important;
}
